In [2]:
import pandas as pd
import numpy as np

In [3]:
####1. Read csv file named "sRNAalignmentToTE.ForChap7Assignment.013119.csv". Inspect the data

In [4]:
data = pd.read_csv('sRNAalignmentToTE.ForChap7Assignment.013119.csv')

In [5]:
data.head()

,totalReads,Aligned,notAligned,libName
0,1530841,37407 (2.44%),1493434 (97.56%),cot-EP-EP-1.qual.clipped.noRDNAorTDNA.Gmax_189...
1,526938,125711 (23.86%),401227 (76.14%),cot-EP-EP-1.qual.clipped.noRDNAorTDNA.Gmax_189...
2,2889626,816373 (28.25%),2073253 (71.75%),cot-EP-EP-1.qual.clipped.noRDNAorTDNA.Gmax_189...
3,1541795,40918 (2.65%),1500877 (97.35%),cot-EP-EP-2.qual.clipped.noRDNAorTDNA.Gmax_189...
4,629472,140798 (22.37%),488674 (77.63%),cot-EP-EP-2.qual.clipped.noRDNAorTDNA.Gmax_189...

In [6]:
#####2. Remove parentheses, put the values in parentheses in the separted columns

In [14]:
data[['Aligned','AlginedRatio']] = data['Aligned'].str.split('\(|\)', expand = True).iloc[:,[0,1]]

In [16]:
data.head()

,totalReads,Aligned,notAligned,libName,AlginedRatio
0,1530841,37407,1493434 (97.56%),cot-EP-EP-1.qual.clipped.noRDNAorTDNA.Gmax_189...,2.44%
1,526938,125711,401227 (76.14%),cot-EP-EP-1.qual.clipped.noRDNAorTDNA.Gmax_189...,23.86%
2,2889626,816373,2073253 (71.75%),cot-EP-EP-1.qual.clipped.noRDNAorTDNA.Gmax_189...,28.25%
3,1541795,40918,1500877 (97.35%),cot-EP-EP-2.qual.clipped.noRDNAorTDNA.Gmax_189...,2.65%
4,629472,140798,488674 (77.63%),cot-EP-EP-2.qual.clipped.noRDNAorTDNA.Gmax_189...,22.37%

In [17]:
data[['notAligned','notAlginedRatio']] = data['notAligned'].str.split('\(|\)', expand = True).iloc[:,[0,1]]

In [18]:
data.head()

,totalReads,Aligned,notAligned,libName,AlginedRatio,notAlginedRatio
0,1530841,37407,1493434,cot-EP-EP-1.qual.clipped.noRDNAorTDNA.Gmax_189...,2.44%,97.56%
1,526938,125711,401227,cot-EP-EP-1.qual.clipped.noRDNAorTDNA.Gmax_189...,23.86%,76.14%
2,2889626,816373,2073253,cot-EP-EP-1.qual.clipped.noRDNAorTDNA.Gmax_189...,28.25%,71.75%
3,1541795,40918,1500877,cot-EP-EP-2.qual.clipped.noRDNAorTDNA.Gmax_189...,2.65%,97.35%
4,629472,140798,488674,cot-EP-EP-2.qual.clipped.noRDNAorTDNA.Gmax_189...,22.37%,77.63%

In [30]:
data.columns

Index(['totalReads', 'Aligned', 'notAligned', 'libName', 'AlginedRatio',
       'notAlginedRatio'],
      dtype='object')

In [42]:
col = ['totalReads', 'Aligned', 'AlginedRatio', 'notAligned','notAlginedRatio', 'libName']

In [39]:
data = data.reindex(columns=col)

In [41]:
data.head()

,totalReads,Aligned,AlginedRatio,notAligned,notAlginedRatio,libName
0,1530841,37407,2.44%,1493434,97.56%,cot-EP-EP-1.qual.clipped.noRDNAorTDNA.Gmax_189...
1,526938,125711,23.86%,401227,76.14%,cot-EP-EP-1.qual.clipped.noRDNAorTDNA.Gmax_189...
2,2889626,816373,28.25%,2073253,71.75%,cot-EP-EP-1.qual.clipped.noRDNAorTDNA.Gmax_189...
3,1541795,40918,2.65%,1500877,97.35%,cot-EP-EP-2.qual.clipped.noRDNAorTDNA.Gmax_189...
4,629472,140798,22.37%,488674,77.63%,cot-EP-EP-2.qual.clipped.noRDNAorTDNA.Gmax_189...